.about {
  h1 {
    font-size: px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 55px;
  }

  h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 3rem;
    border-bottom: 2px solid #00aecd;
    margin: 0 auto;
  }

  .description {
    font-size: 21px;
    font-weight: 100;
    text-align: center;
    color: #68717a;
    padding: 30px 80px;
  }

  .description::after {
    content: '';
    display: block;
    height: 2rem;
    border-bottom: 1.5px solid #eee;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    padding: 0 10%;

    li {
      display: flex;
      align-items: center;
      column-gap: 3rem;
      margin-top: 2rem;

      img {
        height: fit-content;
        width: 15rem;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          text-decoration: none;
        }

        a:hover {
          color: #00c7cc;
          text-decoration: underline;
          cursor: pointer;
        }

        h3 {
          color: #037493;
        }

        p {
          color: #68717a;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .description {
      padding: 20px 30px;
      text-align: left;
      font-size: 18px;
    }
    ul {
      li {
        flex-direction: column;
        row-gap: 20px;
      }
    }
  }
}
