.sites {
  font-family: Arial, Helvetica, sans-serif;

  .heading {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.004em;
    display: block;
    text-align: center;
    margin: 0 auto 30px;
  }

  .heading::before {
    content: '';
    display: block;
    width: 50px;
    height: 2rem;
    border-top: 2px solid #f56140;
    margin: 0 auto;
  }
  .sites-list {
    padding: 0.5rem 1rem;

    .list {
      overflow: scroll;
      margin-bottom: 10px;
    }

    .home-map {
      flex: 0 0 66.66%;
      width: 100%;
    }

    .marker {
      width: 300px;
      height: max-content;
      padding: 20px 19px;

      .marker-header {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.4px;
        line-height: 1.25;

        margin-bottom: 10px;
      }

      a {
        color: #037493;
        text-decoration: none;
      }
      a:hover {
        color: #00c7cc;
        text-decoration: underline;
        cursor: pointer;
      }

      .phone-number {
        font-weight: 400;
        letter-spacing: 0.1px;
        color: #037493;
        text-decoration: none;

        width: fit-content;
        .phone {
          margin-right: 8px;
        }
        a {
          color: inherit;
          text-decoration: inherit;
        }
      }

      .phone-number:hover {
        color: #00c7cc;
        text-decoration: underline;
      }

      .button {
        display: block;
        width: fit-content;
        padding: 18px 35px;
        margin: 20px auto 0;

        background: #037493;
        color: #fff;
        border-radius: 25px;
        border: none;
        text-decoration: none;
      }

      .button:hover {
        background-color: #0f2549;
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .add-site {
    // border: 1px solid black;
    width: 63%;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 30px;

    text-align: center;

    color: #5d6063;
    text-decoration: none;
    background: #f9f9f9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

    .phone {
      margin-right: 10px;
    }
  }

  .add-site:hover {
    background-color: #f4f4f4;
    cursor: pointer;
  }

  .filter {
    margin: 0 50px;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .filter-options {
      display: flex;
      align-items: center;
      column-gap: 40px;
      row-gap: 20px;

      .filter-text {
        font-weight: bold;
      }

      .filter-button {
        button {
          width: inherit;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .dropdown-menu {
          .dropdown-item {
            width: inherit;
            white-space: normal;
          }
        }
      }

      .reset-button {
        width: fit-content;
        height: fit-content;
        padding: 6px 20px;

        background: #037493;
        color: #fff;
        border-radius: 25px;
        text-decoration: none;
        border: none;
      }

      .reset-button:hover {
        background-color: #0f2549;
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 1080px) {
    .filter {
      margin: 0 20px;
      padding: 20px 0;
      .filter-options {
        flex-wrap: wrap;
        justify-content: center;

        .filter-text {
          display: none;
        }
        .filter-button {
          button {
            border: 1.5px solid grey;
            width: 160px;
          }
          .dropdown-menu {
            width: 160px;
          }
        }

        .reset-button {
          width: 160px;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .sites-list {
      .home-map {
        flex: none;
        display: none;
      }
    }

    .filter {
      .filter-options {
        .filter-button {
          button {
            font-size: calc(7px + 1vw);
            width: 35vw;
          }

          .dropdown-menu {
            font-size: calc(7px + 1vw);
            width: 35vw;
          }
        }

        .reset-button {
          font-size: calc(7px + 1vw);
          width: 35vw;
        }
      }
    }
  }
  @media only screen and (min-width: 768px) {
    .row {
      position: relative;
      justify-content: end;
      .list {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 66.66%;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .filter {
      margin: 0 10px;
      .filter-options {
        column-gap: 20px;
      }
    }
  }
}
