main {
  font-family: Arial, Helvetica, sans-serif;
  .image-backdrop {
    background: #0f2549;
    padding: 2%;
    .Heading {
      background: #f9f9f9;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
      padding: 20px 40px;
      margin: 20px;
      width: fit-content;
      min-width: 40%;

      font-size: 15px;

      .site-name {
        font-size: 36px;
        color: #152536;
      }

      .site-name::after {
        display: block;
        content: '';
        width: 75px;
        height: 13px;
        border-bottom: 2px solid #037493;
      }

      .site-info {
        margin-top: 17px;

        .site-info-entry {
          margin-top: 4px;
        }
      }
    }
  }

  .map {
    margin: 40px 0;
    padding: 0 5%;
    height: 400px;
    width: 100%;

    .marker {
      width: 300px;
      height: max-content;
      padding: 20px 19px;

      .marker-header {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.4px;
        line-height: 1.25;

        margin-bottom: 10px;
      }

      a {
        color: #037493;
        text-decoration: none;
      }
      a:hover {
        color: #00c7cc;
        text-decoration: underline;
        cursor: pointer;
      }

      .phone-number {
        font-weight: 400;
        letter-spacing: 0.1px;
        color: #037493;
        text-decoration: none;

        width: fit-content;
        .phone {
          margin-right: 8px;
        }
        a {
          color: inherit;
          text-decoration: inherit;
        }
      }

      .phone-number:hover {
        color: #00c7cc;
        text-decoration: underline;
      }

      .button {
        width: 100%;
        padding: 18px 35px;

        background: #037493;
        color: #fff;
        border-radius: 25px;
        border: none;
        text-decoration: none;
      }

      .button:hover {
        background-color: #0f2549;
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .main-content {
    margin: 60px;
    row-gap: 30px;

    .address-container {
      display: flex;
      font-size: 20px;
      line-height: 20px;

      i {
        margin-right: 20px;
      }

      .address-container-address {
        text-decoration: underline;
      }
    }

    .get-direction {
      display: block;
      width: fit-content;
      height: fit-content;
      padding: 14px 35px;
      margin-top: 30px;
      margin-left: 50px;

      background: #037493;
      color: #fff;
      border-radius: 25px;
      text-decoration: none;

      font-size: 13px;
    }
    .get-direction:hover {
      background-color: #0f2549;
    }

    .contact-info {
      font-size: 16px;
    }

    .link {
      color: #037493;
      text-decoration: none;
    }

    .link:hover {
      color: #00c7cc;
      text-decoration: underline;
    }

    .title {
      color: #037493;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 11px;
    }

    .time-interval {
      label {
        width: 50px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .main-content {
      margin: 30px;

      .get-direction {
        margin: 20px auto 0 auto;
      }
    }
  }
}
